.DS_Store
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
test/unit/coverage
test/e2e/reports
selenium-debug.log
.idea/
.ipynb_checkpoints
ml_base/.ipynb_checkpoints
example/lr/main/raw_data
example/lr/main/data
example/lr/main/rank/__pycache__/
example/lr/main/recall/__pycache__/
example\\lr\\main\\rank\\__pycache__\

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln.DS_Store
*.pyc
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
test/unit/coverage
test/e2e/reports
selenium-debug.log
.idea

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
